body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation_bar {
    background-color: rgb(47, 74, 155);
    color: white;
    table-layout: fixed;

    width: 100%;
    margin-top: 0;
}

.navigation_bar th {
    padding: 0px 0px;
}

.navigation_bar th:hover {
    background-color: rgb(56, 87, 182);
    border-radius: 10px;
}
.navigation_bar th a {
    color: white;
    text-decoration: none;
    display: flex;
    min-height: 58px;
    align-items: center;
    justify-content: center;
}

.website_title {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px;
    height: 100px;
}